/* Fontfamily Popping */
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
    user-select: none;
    -webkit-text-size-adjust: 100%;
    padding: 0;
    margin: 0;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

.backgroundPage {
    background-color: rgb(211, 208, 208);
    color: #564E4E ;
}

.nav-link {
    font-size: .8rem;
}
.logo {
    max-width: 150px;
}
.opacityNav {
    opacity: 93%;
}

.marginNav {
    padding-top: 4.3rem;
}

.backgroundCarousel {
    background: rgba(0, 0, 0, 0.4);
}

.textCarousel {
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
}

.shadowTitles {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card {
    border-radius: 6% !important;
}

.imgCardRadius{
    border-radius: 8% !important;
}

.card-body {
    font-size: .7rem !important;
}

.card-title {
    font-size: .8rem !important;
    font-weight: bold;
}

.testimonialTitle {
    font-size: 1.2rem;
    font-weight: 500;
}

.testimonialText {
    font-size: .8rem;
}

#multistep {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#multistep form {
    background: linear-gradient(279.85deg, #FFFFFF 0%, #FAF5F2 100%);
    border-radius: 3% 3% 3% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

legend {
    font-size: 1.1rem
}

label {
    font-size: .8rem;
}

.formText {
    font-size: .6rem;
}

.form-control {
    border-radius: 20px;
    background-color: #E0E0E0 ;
}

.btn {
    font-size: .8rem;
    background: #F79489;
    border-radius:10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

#footer {
    background: linear-gradient(275.58deg, #000000 0%, #4B4B4B 100%);
    color: #FADCD9;
}

.textFooter {
    color: #FADCD9;

}
.textDie {
    margin: 0 auto;
    font-size: 2rem;
}

.textDie2 {
    font-size: 1rem;
    line-height: 1rem;
}
.textSocial {
    font-size: .8rem;
    line-height: 2rem;
}
.textCopyright {
    font-size: .6rem;
    line-height: .5%;
}